@charset "UTF-8";

html, body, ul {
	margin : 0;
	padding : 0;
}

.navigation {
	height: 50px;
	background-color: #3498db;
}

.navigation ul {
	display : flex;
	height: 100%;
	list-style: none;
	flex-direction: row;
	justify-content: center;
}

.navigation ul li {
	margin-left: 20px;
}